*{
    margin: 0 auto;
    box-sizing: border-box;
}
wrapper {
    width: 960px;
    border: 1px solid rgb(6, 6, 14);
    color: gray;
}
header {
    height: 100px;
    background-color: #294e79;
    position: relative;
    color: white;
}
header img{
    position: absolute;
    top: 20px;
    left: 20px;
}
header h1 {
    position: absolute;
    top: -20px;
    left: 80px;
}
header p {
    position: absolute;
    top: 20px;
    left: 80px;
}
header form {
    position: absolute;
    top: 10px;
    right: 10px;
}
.menu li{
    color: white;
    position: absolute;
    height: 45px;
    width: 110px;
    bottom: 00px;
    background-color: #5e748d;
    list-style: none;
    line-height: 45px;
    text-indent: 20px;
    border-radius: 5%;
}
.menu-parent{
    position: absolute;
    right: 10px;
    bottom: 0;
    display: flex;
    list-style: none;
}
.menu-parent a{
    color: white;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    background-color: #3d73b1;
}
.menu-parent a:hover{
    color: rgb(63, 63, 139);
}
.menu-child{
    display: none;
}
.menu-parent li:hover .menu-child{
    display: block;
    position: absolute;
    margin-left: -40px;
}
header input, header button{
    background-color: #1c3451;
    border: 1px solid #058dbe;
    padding: 5px;
}
menu li:hover {
    background-color:blue;
}